body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px
}

h1{
    color: black;
    text-align: center;
    font-size: 100px;
    background-color: skyblue;
}

p1{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;

}

em{
    font-size: 10px;
    text-align:left;

}